<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
  </head>
  <body>
    <form action="/new_game" method="get">
    Please select board size<br>
    <input type="text" name="board_size" value="1">
    <input type="submit" value="New Game">
    </form>
  </body>
</html>