<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
  </head>
  <body>
    <a href='/'>New Game</a>

    <ul>
      <% @board_view.each do |row| %>
        <li> 
          <% row.each do |square_value| %>
            <td> <%= square_value %> </td>
          <%end%>
        </li>
      <%end%>
    </ul>

  </body>
</html>