table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

input[type="text"] {
  display: block;
  margin: 0;
  width: 15px;
  height: 15px;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  padding: 8px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type="text"]:focus,
input[type="text"]:hover {
  outline: none;
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

#sudokustring {
  width: 70%;
}
